:root{
    --black: #222222;
    --pink: #F1E4E6;
    --pink-pink: #F16D7F;
    --white: #ffffff;
    --gray: #9f9f9f;
    --dark-pink: #ff6a6a;
}

a {
    text-decoration: none;
}

body {
    background-color: #E5E5E5;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 17px;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.header {
    background-color: var(--black);
}

.header__container {
    display: flex;
    align-items: center;
    min-height: 75px;
    justify-content: space-between;
}

.header__box {
    display: flex;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__ico {
    margin: 0 0 32px;
}

.header__button {
    background-color: #222222;
    border: none;
    cursor: pointer
}

.header__button:hover {
    background-color: transparent;
}

.header__person {
    margin-left: 34px;
}

.header__basket {
    margin-left: 34px;
}

.menu__title {
    text-transform: uppercase;
    color: var(--black);
    margin-bottom: 24px;
}

.menu__sub-title {
    margin: 12px 0;
    padding-left: 21px;
}

.menu__deck {
    text-transform: uppercase;
    color: var(--pink-pink);
    margin-bottom: 11px;
}

.menu__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
    color: var(--gray);
    margin: 12px 0;
}

.menu {
    color: var(--pink-pink);
    position: fixed;
    right: -183px;
    top: 77px;
    background: var(--white);
    -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding: 37px 33px;
    z-index: 1;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.menu__button {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    background: none;
    border: none;
}

.brand {
    display: flex;
    background-color: var(--pink);

}

.brand-container {
    display: flex;
    align-items: center;
    padding: 0 0 0 92px;
}

.brand__title {
    font-family: Lato;
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__subtitle {
    display: block;
    font-family: Lato;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand__pink {
    color: var(--pink-pink);
}

.sale {
    margin-top: 65px;
    text-transform: uppercase;
}

.sale__people {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.sale__women {
    display: block;
    padding: 105px 103px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 360px;
    background-image: url(../img/sale-women.jpg);
}


.sale__men {
    display: block;
    padding: 105px 103px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 360px;
    background-image: url(../img/sale-men.jpg);
}

.sale__kids {
    display: block;
    padding: 105px 103px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 360px;
    background-image: url(../img/sale-kids.jpg);
}

.sale__accesories {
    margin-top: 30px;
    padding: 65px 489px;
    display: block;
    background-image: url(../img/sale-accessories.jpg);
}

.sale__link {
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}

.sale__link:hover {
    opacity: 0.7;
}

.sale__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--white);
    margin-bottom: 7px;
}

.sale__sabtitle {
    font-weight: 900;
    font-size: 24px;
    line-height: 19px;
    text-align: center;
    color: var(--pink-pink);
}

.product {
    margin-top: 96px;
    text-align: center;
}

.product__title {
    text-transform: capitalize;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: var(--black);
}

.product__text {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: var(--gray);
}

.product__catalog {
    margin-top: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.product__catalog-item {
    text-align: start;
    width: 360px;
    background: var(--white);
    margin-bottom: 30px;
}

.product__catalog-item img {
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.product__catalog-item img:hover {
    opacity: 0.2;
}

.product__catalog-cart {
    padding: 25px 16px;
}

.product__item-title {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: var(--black);
    margin-bottom: 12px;
    display: inline-block;
    position: relative;
}

.product__item-title::before {
    position: absolute;
    content: "";
    color: yellow;
    width: 0px;
    background-color: black;
    padding: 0px 0px 2px 0px;
    top: 15px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease
}

.product__item-title:hover::before {
    width: 142px;
}

.product__item-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--gray);
    margin-bottom: 18px;
}

.product__item-price {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--pink-pink);
}

.product__button {
    cursor: pointer;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--pink-pink);
    border: 1px solid var(--dark-pink);
    background: none;
    padding: 15px 39px;
    margin-top: 46px;
}

.product__button:hover{
    background-color: #fdb3bc;
}

.product__button:hover:active {
    background-color: var(--pink-pink);
    color: #eee;
}

.advantages {
    background-color: var(--black);
    color: var(--white);
    margin-top: 100px;
}

.advantages__shop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 103px 0px;
}

.advantages__shop-item {
    text-align: center;
}

.advantages__shop-img {
    margin-bottom: 26px;
}

.advantages__shop-title {
    text-transform: capitalize;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
}

.advantages__shop-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    width: 364px;
}

.footer__feedback-container {
    min-height: 79px;
}

.feedback__img{
    background-image: url(../img/landscape.jpg);
    background-repeat: round;
    background-size: contain;
}

.feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 86px 0 126px 0;
}

.feedback__info {
    text-align: center;
}

.feedback__ico {
    margin-bottom: 30px;
}

.feedback__desc {
    width: 230px;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.feedback__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
}

.feedback__text {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.feedback__e-mail {
    text-transform: capitalize;
    background: var(--white);
    border: none;
    border-radius: 20px 0 0 20px;
    padding: 15px 0 15px 22px;
    margin-right: -3px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.feedback__e-mail:hover {
    background-color: var(--gray);
}

.feedback__e-mail:focus {
    outline: none;
    background-color: var(--gray);
}

.feedback__button {
    text-transform: capitalize;
    cursor: pointer;
    border: none;
    background-color: var(--pink-pink);
    padding: 15px 20px;
    border-radius: 0 20px 20px 0;
    color: #ffffff;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
}

.feedback__button:hover {
    background-color: #ff3b56;
}

.feedback__button:hover:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--black);
}

.public {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: var(--black);
    padding: 20px 0;
}

.public__copyright {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--white);
}

.public__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
} 

.public__social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.public__face, .public__insta, .public__pint, .public__twit  {
    margin-left: 8px;
}

.menu__deactive {
    position: absolute !important;
    right: 0px !important;
}

.wrp {
    display: flex;
}

.human {
    height: 119px;
    margin-top: 59px;
}

.human__title {
    text-transform: uppercase;
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--pink-pink);
}

.form__registration {
    display: block;
    margin: 21px 0 0 150px;
}

.form__legend {
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin: 81px 0 0 150px;
}

.form__name {
    font-family: Lato;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 20px;
    color: #B1B1B1;
    width: 300px;
    height: 45px;
    border: 1px solid var(--gray);
}

.form__name:focus {
    border: 1px solid var(--black);
    color: var(--black);
}

.form__radio {
    margin: 33px 0 33px 150px;
}

.form__radio-input {
    display: none;
}

.form__radio-label {
    margin: 31px;
    position: relative;
    font-family: Lato;
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: left;
}

.form__radio-label:after {
    position: absolute;
    content: '';
    width: 17px;
    height: 17px;
    border: 1px solid var(--gray);
    border-radius: 50%;
    left: -30px;
}

.form__radio-input:checked+ .form__radio-label:after {
    background: var(--pink-pink);
    background-size: 15px 15px;
}

.form__button {
    text-transform: uppercase;
    cursor: pointer;
    font-family: Lato;
    font-size: 14px;
    line-height: 17px;
    text-align: left;
    background: var(--pink-pink);
    border: none;
    padding: 20px 50px;
    margin: 39px 0 96px 150px;
    color: var(--white);
}

.form__text {
    font-family: Lato;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin: 15px 128px 39px 150px;
    color: var(--gray);
}

.form__img {
    margin-left: 20px;
}

.perks__title {
    text-transform: uppercase;
    font-family: Lato;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 64px;
    color: var(--black);
}

.perks__text {
    font-family: Lato;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin: 22px 30px 0 0;
    color: var(--black); 
}

.perks__sub-title {
    margin-top: 21px;
}

.perks__deck {
    font-family: Lato;
    font-size: 24px;
    font-weight: 300;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 16px;
    color: var(--black);  
}

.perks__img {
    margin-right: 22px;
}